<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @*<link href="~/Styles/StyleSheet1.css" rel="stylesheet" type="text/css" />*@
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

    </style>
    <style>
        div.dataTables_wrapper div.dataTables_filter input {
            border-radius: 20px !important;
        }
    </style>



</head>
<body>

    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
       
        <div class="header-right">
            <a class="active" href="#home">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#contact">Lavda</a>
            <a href="#about">Lasun</a>
            <a href="#contact">Chut</a>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="jumbotron">Some text footer</div>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application2</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $("#checkAll").click(function () {
            if (this.checked) {
                $("input[name='EmployeesToDelete']").each(function () {
                    this.checked = true;
                })
            } else {
                $("input[name='EmployeesToDelete']").each(function () {
                    this.checked = false;
                })
            }
        });
        $("input[name='EmployeesToDelete']").on('click', function () {
            if ($("input[name='EmployeesToDelete']").length == $("input[name='EmployeesToDelete']:checked").length) {
                $("#checkAll").prop('checked', true);
            }
            else {
                $("#checkAll").prop('checked', false);
            }
        });
        $('#example')
        .on('draw.dt', function () { $("#checkAll").prop('checked', false); $("input[name='EmployeesToDelete']").prop('checked', false); })
        .DataTable({
            'iDisplayLength': 5,
            'aLengthMenu': [[5, 10, 25, -1], [5, 10, 25, "All"]],
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    }
    );
    </script>
</body>
</html>

